:root {
	--lightBg: white;
	--darkBg: #161c22;
}

body{
	font-family: "Rubik";
}

.container{
	text-align: center;
}

#mainDiv {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#headerDiv {
	display: flex;
	justify-content: space-between;
}

.headerElement {
	display: flex;
    justify-content: center;
    align-items: center;
	background-color: mediumseagreen;
	font-size: 40;
}

#clockDiv {
	margin-top: 10px;
	width: 150px;
	height: 60;

    border-radius: 0 10px 10px 0;
	cursor: pointer;
}

#currentScoreDiv {
	width: 80px;
    height: 100px;
	
    border-radius: 0 0 10px 10px;
}

#totalScoreDiv {
	margin-top: 10px;
	width: 150px;
	height: 60;

    border-radius: 10px 0 0 10px;
	cursor: pointer;
}

#wordDiv {
	display: flex;
    justify-content: center;
	font-size: 10vw;
	text-align: center;
}

#actionBtnsDiv {
	display: flex;
	justify-content: center;
	font-size: 3vw;
	margin-bottom: 10px;
	cursor: pointer;
}

#skipBtn, #minusBtn {
	color: rgb(179, 60, 60);
}

#nextBtn, #plusBtn {
	color: mediumseagreen;
}

#playBtn, #pauseBtn {
	color: rgb(60, 127, 179);
}

#scoresTableDiv th,td {
	text-align: center;
	font-size: larger;
}

#roundScoreModal .modal-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

#roundScoreModal .bi {
	font-size: 2vw;
	cursor: pointer;
}

#totalRoundScore {
	font-size: 8vw;
	margin-left: 10px;
	margin-right: 10px;
}

#winnerName {
	font-size: 4vw;
	overflow-wrap: break-word;
}

#newGameModal .modal-content * {
	background-color: #565656;
	border-color: #565656;
	color: white;
}

#newGameDiv {
	position: fixed;
	height: 100%;
	width: 100%;
	padding-top: 10%;
	background-color: var(--lightBg);
}

#newGameDivContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#newGameDivContent * {
	margin-bottom: 15px;
}

#newGameDivContent input {
	max-width: 300px;
	background-color: rgb(179, 60, 60);
	color: white;
	border-radius: 20px;
}

#newGameDivContent input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 0.50;
}

#startGameBtn {
	border-radius: 20px;
	color: white; 
	background-color: mediumseagreen;
	width: 5rem;
}

#title {
	font-size: 6vw;
	color: mediumseagreen;
}

@media screen and (max-width: 1500px) {
	#title {
		font-size: 4rem;
	}
}