:root {
	--bg-color: #161c22;
	--lightBg: white;
	--darkBg: #161c22;
	--modal-border-color: #161c22;
	--text-color: white;
	--translated-text-color: #d0d1d2;
	--accent-color: mediumseagreen;
	--red: rgb(179, 60, 60);
}

.light-theme {
	--bg-color: white;
	--modal-border-color: #dee2e6;
	--text-color: #161c22;
	--translated-text-color: #44494e;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	font-family: "Rubik";
	background-color: var(--bg-color);
}

.table {
	color: var(--text-color);
}

.table-hover>tbody>tr:hover {
	color: var(--accent-color);
}

.container{
	text-align: center;
}

#mainDiv {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#headerDiv {
	display: flex;
	justify-content: space-between;
}

#winnersDiv {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
}

h1#winners, span#winnerWinnersText {
	color: var(--accent-color);
}

#finalScoresTableContainer {
	min-width: 30%;
	max-width: 80%;
	max-height: 50%;
	overflow-y: auto;
}

#playAgainBtn {
	color: white;
	background-color: var(--accent-color);
	margin-top: 20px;
}

.headerElement {
	display: flex;
    justify-content: center;
    align-items: center;
	background-color: var(--accent-color);
	font-size: 40px;
}

.modal .form-control {
	background-color: var(--red);
	color: white;
}

.modal .timerInputsDiv span {
	display: inline;
	background-color: var(--accent-color);
	color: white;
	width: 20%;
	min-width: 90px;
}

.modal .modal-header,.modal-footer {
	border-color: var(--modal-border-color);
}

.modal-content {
	background-color: var(--bg-color);
	color: var(--text-color);
}

#clockDiv {
	margin-top: 10px;
	width: 150px;
	height: 60px;

    border-radius: 0 10px 10px 0;
	cursor: pointer;
}

#currentScoreDiv {
	width: 80px;
    height: 100px;
	
    border-radius: 0 0 10px 10px;
}

#totalScoreDiv {
	margin-top: 10px;
	width: 150px;
	height: 60px;

    border-radius: 10px 0 0 10px;
	cursor: pointer;
}

#wordDiv {
	display: flex;
    justify-content: center;
	font-size: 10vw;
	text-align: center;
	color: var(--text-color);
	flex-direction: column;
}

#wordDiv #currentTranslatedWord {
	font-size: 4vw;
	color: var(--translated-text-color);
}

#actionBtnsDiv {
	display: flex;
	justify-content: center;
	font-size: 3vw;
	margin-bottom: 10px;
	cursor: pointer;
}

#skipBtn, #minusBtn {
	color: var(--red);
}

#nextBtn, #plusBtn {
	color: var(--accent-color);
}

#playBtn, #pauseBtn {
	color: rgb(60, 127, 179);
}

#roundScoreModal .modal-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#roundScoreModal .modal-body ul#roundWords {
	width: 80%;
	columns: 2;
	column-gap: 50px;
	overflow: auto;
	list-style-type: decimal;
}

#roundScoreModal .modal-body ul#roundWords li {
	overflow-wrap: anywhere;
}

#roundScoreModal .modal-body .goodWord {
	color: var(--accent-color);
}

#roundScoreModal .modal-body .badWord {
	color: var(--red);
}

#roundScoreModal .bi {
	font-size: 2vw;
	cursor: pointer;
}

#totalRoundScore {
	font-size: 8vw;
	margin-left: 10px;
	margin-right: 10px;
}

#newGameModal .modal-content * {
	background-color: #565656;
	border-color: #565656;
	color: white;
}

#newGameDiv {
	position: fixed;
	height: 100%;
	width: 100%;
	padding-top: 10%;
	background-color: var(--bg-color);
}

#newGameDivContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#newGameDivContent * {
	margin-bottom: 15px;
}

#newGameDivContent input {
	max-width: 300px;
	background-color: var(--red);
	color: white;
	border-radius: 20px;
}

#newGameDivContent input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 0.50;
}

#startGameBtn {
	border-radius: 20px;
	color: white; 
	background-color: var(--accent-color);
	width: 5rem;
}

#title {
	font-size: 6vw;
	color: var(--accent-color);
}

#themeToggleBtn {
	font-size: 15pt;
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 1;
}

#themeToggleBtn:hover {
	color: var(--accent-color);
}

#themeToggleBtn.bi-sun {
	color: white;
}

@media screen and (max-width: 1500px) {
	#title {
		font-size: 4rem;
	}
}

@media screen and (max-width: 1000px) {
	#wordDiv {
		font-size: 6rem;
	}
}