.container {
    padding-top: 50px;
}

#titleDiv h1 {
    margin-bottom: 0px;
    font-size: max(40pt, 5vw);
}

#titleDiv {
    margin-bottom: 10px;
}

label {
    width: 250px;
    font-size: large;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

input {
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
}

small {
    color: #B1103C;
}

#playBtn {
    font-size: large;
}

#btnDiv {
    margin-top: 10px;
}